@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: Montserrat, sans-serif;  
}

.blue {
  background-color: rgb(13, 13, 204);
  color: white;
  padding: 10px;
  border-radius: 5px;
  border: none;
}

.blue:hover {
  background-color: rgb(11, 11, 114);
  color: white;
  padding: 10px;
  border-radius: 5px;
  border: none;
}

.header-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 10px;
 
}
.header-section h2 {
  font-size: 2em;
}
.header-section-user {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.header-section-user p {
  margin-left: 10px;
  cursor: pointer;
}

.inline {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-section-desktop {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  background-color: #252b42;
}

.header-section-desktop p {
  color: white;
  margin: 0 13px;
}

.productWeek {
  display: flex;
  justify-content: space-between;
  align-items: stretch; 
  margin: auto;
  width: 90%;
  min-height: 400px;
}

.product1,
.product2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
  width: 48%; 
  height: auto; 
  margin: 0 5px;
}
.image-overlay {
  position: relative;
  display: inline-block;
}

.image-overlay img {
  width: 100%;
  height: auto;
}

.image-overlay::after {
  content: '';
  position: absolute;
  bottom: 1%;
  left: 0;
  width: 75%;
  height: 50%;
  background-color: #2d8bc0;
  opacity: 0.5;
}
.text {
  position: relative;
  bottom: 150px;
  left: 50px;
}
.text h2 {
  color: white;
  font-size: 2em;
  margin: 20px 0;
}

.bestSellerProductsDesktop {
  display:flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: auto;
}

.bestSellerProductsDesktop article {
  display: flex;
  flex-direction: column;
}

.bestSellerProductsDesktop h4 {
  font-size: 20px;
  font-weight: 400;
  color: #737373;
}

.bestSellerProductsDesktop h3 {
  font-size: 24px;
  font-weight: 700;
  color: #252B42;
}

.bestSellerProductsDesktop p {
  font-size: 14px;
  font-weight: 400;
  color: #737373;
}

.bestSellerProductsDesktopRow {
  display: flex;
  flex-wrap: wrap;
}

.bestSellerProductsDesktopRow h5 {
  font-size: 16px;
  font-weight: 700;
  color: #252B42;
}

.bestSellerProductsDesktopRow h3 {
  font-size: 14px;
  font-weight: 700;
  color: #737373;
}
.bestSellerProductsDesktopRow h4 {
  font-size: 16px;
  font-weight: 700;
  color: #BDBDBD;
}
.bestSellerProductsDesktopRow span {
  font-size: 16px;
  font-weight: 700;
  color: #23856D;
}

.bestSellerProductsDesktopRow > div {
  margin: 30px 10px;
}

.bestSellerProductsDesktop button {
  background-color: white;
  color: #23A6F0;
  border: 1px solid #23A6F0;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}
.bestSellerProductsDesktop button:hover  {
  background-color: #23A6F0;
  color: white ;
  border: 1px solid white;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.text button {
  background-color: transparent;
  color: white;
  border: 1px solid white;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.containerFeaturedProductsDesktopImg {
  display: flex;
  margin-top: 20px;
  width: 500px;
}

.containerFeaturedProductsDesktopImg img {
  margin: 0 10px;;
}

.featuredProductsDesktop {
  display: flex;
  justify-content: center;
}

.containerFeaturedProductsDesktopText {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  flex-wrap: wrap;
}

.containerFeaturedProductsDesktopText h5 {
  font-size: 16px;
  font-weight: 700;
  color: #23A6F0;
  margin-bottom:10px;
}
.containerFeaturedProductsDesktopText h2 {
  font-size: 40px;
  font-weight: 700;
  color: #252B42;
  margin-bottom:10px;
}
.containerFeaturedProductsDesktopText p {
  font-size: 14px;
  font-weight: 400;
  color: #737373;
  margin-bottom:10px;
}



.followus {
  display: flex;
  justify-content: center;
  align-items: center;
}

.followus img {
  margin: 0 5px;
  cursor: pointer;
}

.desktop-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.desktop-nav ul {
  display: flex;  
  list-style: none; 
}

.desktop-nav ul li {
  padding: 10px;
}

.desktop-nav p {
  margin-right: 5px;
}

.img-section {
  display: none;
}

.header-section-2 {
  display: none;
}

.desktop-nav ul li a:hover {
  text-decoration: underline;
  color: rgb(26, 25, 25);
  transition: 0.5s ease-in-out;
}

.desktop-nav ul li a {
  text-decoration: none;
  color: rgb(132, 132, 132);
  font-size: 25px;
}

main {
  margin-top: 50px;
}
.section  {
  width: 90%; 
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mobile {
  display: none;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer ul {
  list-style: none;
}

footer ul li a {
  text-decoration: none;
  color: gray;
}

.footer-header {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 120px) and (max-width: 768px)   {
  .header-section-desktop {
    display: none;
  }

  .desktop {
    display: none;
  }

  .mobile {
    display: block;
  }

  .header-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 10px;
  }

  .img-section {
    display: block;
  }

  .header-section h2 {
    font-size: 2em;
  }

  .header-section img {
    margin-left: 15px;
    cursor: pointer;
  }

  .header-section img:hover {
    transform: scale(1.3);
    transition: 0.5s ease-in-out;
  }

  .header-section-2 {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .header-section-2 ul {
    list-style: none;
  }
  .header-section-2 ul li {
    padding: 10px 0;
  }
  .header-section-2 ul li a {
    text-decoration: none;
    color: rgb(88, 88, 88);
    font-size: 25px;
  }

  .buttonBestSeller {
    background-color: white;
    color: #23a6f0;
    border: 1px solid #23a6f0;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
  }

  .buttonBestSeller:hover {
    background-color: #23a6f0;
    color: white;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
  }

  .header-section-2 ul li a:hover {
    text-decoration: underline;
    color: rgb(26, 25, 25);
    transition: 0.5s ease-in-out;
  }
  .section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
  }

  .section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
 
  .footer-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    background-color: #fafafa;
    padding: 40px;
    border-radius: 10px;
  }

  .footer-header h2 {
    font-size: 2em;
  }

  .footer-header div img {
    margin: 20px 10px;
  }

  .footer-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }

  .footer-section ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
  }

  .footer-section ul li {
    padding: 5px 0;
  }

  .footer-section ul li a {
    text-decoration: none;
    color: gray;
    font-size: 25px;
  }

  .footer-section ul li a:hover {
    text-decoration: underline;
    color: rgb(26, 25, 25);
    transition: 0.5s ease-in-out;
  }

  .footer-section h2 {
    font-size: 2em;
  }
  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
  }
  .footer input {
    background-color: lightgray;
    color: black;
    border: none;
    outline: none;
    border-radius: 5px;
    padding-left: 10px;
  }
  .footer div {
    margin-top: 10px;
    display: flex;
  }

  .footer div input {
    padding: 20px;
  }

  .desktop-nav {
    display: none;
  }

  .copywright {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 30px;
    background-color: lightgray;
    font-size: 2em;
  }
}

