* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.blue {
  background-color: rgb(13, 13, 204);
  color: white;
  padding: 10px;
  border-radius: 5px;
  border: none;
}

.blue:hover {
  background-color: rgb(11, 11, 114);
  color: white;
  padding: 10px;
  border-radius: 5px;
  border: none;
}

@media (max-width: 768px) and (min-width: 120px) {
  .header-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 10px;
  }

  .header-section h2 {
    font-size: 2em;
  }

  .header-section img {
    margin-left: 15px;
    cursor: pointer;
  }

  .header-section img:hover {
    transform: scale(1.3);
    transition: 0.5s ease-in-out;
  }

  .header-section-2 {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .header-section-2 ul {
    list-style: none;
  }
  .header-section-2 ul li {
    padding: 10px 0;
  }
  .header-section-2 ul li a {
    text-decoration: none;
    color: rgb(88, 88, 88);
    font-size: 25px;
  }
  .header-section-2 ul li a:hover {
    text-decoration: underline;
    color: rgb(26, 25, 25);
    transition: 0.5s ease-in-out;
  }
  .section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
  }
  .section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

 
  .footer-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    background-color: lightgray;
    padding: 40px;
    border-radius: 10px;
  }

  .footer-header h2 {
    font-size: 2em;
  }

  .footer-header div img {
    margin: 20px 10px;
  }

  .footer-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }

  .footer-section ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
  }

  .footer-section ul li {
    padding: 5px 0;
  }

  .footer-section ul li a {
    text-decoration: none;
    color: gray;
    font-size: 25px;
  }

  .footer-section ul li a:hover {
    text-decoration: underline;
    color: rgb(26, 25, 25);
    transition: 0.5s ease-in-out;
  }

  .footer-section h2 {
    font-size: 2em;
  }
  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
  }
  .footer input {
    background-color: lightgray;
    color: black;
    border: none;
    outline: none;
    border-radius: 5px;
    padding-left: 10px;
  }
  .footer div {
    margin-top: 10px;
    display: flex;
  }

  .footer div input {
    padding: 20px;
  }

  .copywright {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 30px;
    background-color: lightgray;
    font-size: 2em;
  }
}

.header-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 10px;
}
